{% extends 'filesystem/base.html' %}
{% load static %}
{% block title %}Reset Complete{% endblock %}
{% comment %}
{% block head %}
  <link rel="stylesheet" href="{% static '' %}">
{% endblock %}
{% endcomment %}
{% block content %}
<div>
    <h2>Password Reset Complete</h2>
    <p>Your password has been reset successfully.</p>
    <p>Please click on the login button to log into your account with your new password</p>
    <button>
        <a href = "{% url 'authsource:login' %}">
            Log In
        </a>
    </button>
</div>
{% endblock %}