{% extends 'dnr_manipulation/root.html' %}
{% load static %} 
    {% block title %}Email Verification{% endblock %}
{% block content %}
    {% comment %} <div class="heading">
        <p class="custom-button"><a href="{% url 'filesystem:search' %}">Previous Page</a></p>
    </div> {% endcomment %}
    <div class="container">
        <h1>Email verification</h1>
        <p>A verification email has been sent to your email address. Please follow the link in the email to activate your account.</p>
    </div>
{% endblock %}