{% extends 'root.html' %}
{% block content %}
<div class="main">
    <h1>List of files</h1>
    <p>
    <div>
        <table>
            <tr>
                <th>Donor Name</th>
                <th>Blood Type</th>
                <th>Locations</th>
                <th>Medical Report</th>
                <th>Date Donated</th>
            </tr>
            {% for dnr in donors %}
            <tr>
                <td>{{ dnr.donor_name }}</td>
                <td>{{ dnr.blood_type }}</td>
                <td>{{ dnr.location }}</td>
                <td>{{ dnr.medicial_report }}</td>
                <td>{{ dnr.date_donated }}</td>
              </tr>
        {% endfor %}
        </table>
        {% for dnr in donors %}

            
        {% endfor %}
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock content %}